<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  <directoryBrowse enabled="true" />
    <handlers>
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\gamelife\AppData\Local\Python\bin\python3.exe" resourceType="File" />
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="E:\untitled\mpesa\sms-forwarder\API\untitledmpesasms-forwaderAPI\Scripts\python.exe" arguments="-m uvicorn main:app --host 192.168.100.13 --port %HTTP_PLATFORM_PORT%" stdoutLogEnabled="true" stdoutLogFile=".\logs\uvicorn.log" startupTimeLimit="60" processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="SMS_DB" value="E:\untitled\mpesa\sms-forwarder\API\sms.db" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>


